._1H7C6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 350px;
    max-height: 250px;
    font-size: 14pt;
}

._Adysl {
    width: 100%;
    border: bottom 1px;
    margin-top: 20px;
    padding: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#_14y58 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#_24i7u {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transition: all 0.3s ease, opacity 0.2s ease;
    height: 320px;
}
#_24i7u._3nIZK {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

._3G14Z {
    padding: 2px;
    font-size: 25px;
}

._38DZj {
    border: 0;
    padding: 0;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: all 0.2s;
    transition-delay: 300ms;
    background-color: #96bdf7;
    color: #333132;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin: 10px;
    font-size: 1.5em;
}
._38DZj:focus {
    outline: none;
    box-shadow: none;
}
._38DZj:active {
    transition: none;
    opacity: 0.5;
}

._N-jqm {
    font-size: 0.5em;
    color: #333132;
}

._19SxG {
    display: flex;
    flex-direction: row;
}

#_1hhhF {
    border: 0;
    padding: 0;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: all 0.2s;
    transition-delay: 300ms;
    background-color: #96bdf7;
    color: #333132;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: lightgray;
    margin: 10px;
}
#_1hhhF:focus {
    outline: none;
    box-shadow: none;
}
#_1hhhF:active {
    transition: none;
    opacity: 0.5;
}
#_1hhhF._3ZwLv {
    background-color: gray;
}

._3z8u3 {
    border: 0;
    padding: 0;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: all 0.2s;
    transition-delay: 300ms;
    background-color: #96bdf7;
    color: #333132;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: lightgray;
    margin: 10px;
    background-color: #ff6961;
}
._3z8u3:focus {
    outline: none;
    box-shadow: none;
}
._3z8u3:active {
    transition: none;
    opacity: 0.5;
}

._3UW76 {
    border: 0;
    padding: 0;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: all 0.2s;
    transition-delay: 300ms;
    background-color: #96bdf7;
    color: #333132;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: lightgray;
    margin: 10px;
    background-color: #15c73b;
}
._3UW76:focus {
    outline: none;
    box-shadow: none;
}
._3UW76:active {
    transition: none;
    opacity: 0.5;
}

._2kDeL {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#_1yjIy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
#_1yjIy._3nIZK {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

#_2tho8 {
    border: none;
    padding: none;
    font-size: 1em;
    border: 2px solid #333132;
    border-radius: 100px;
    width: 80%;
    padding: 5px 10px 5px 10px;
}
#_2tho8:focus {
    outline: none;
}

._Rc_m0 {
    border: 0;
    padding: 0;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: all 0.2s;
    transition-delay: 300ms;
    background-color: #96bdf7;
    color: #333132;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin: 10px;
}
._Rc_m0:focus {
    outline: none;
    box-shadow: none;
}
._Rc_m0:active {
    transition: none;
    opacity: 0.5;
}

._gelBY {
    padding: 2px;
}

._rgh4W {
    padding: 4px;
    font-size: 25px;
}

#_3TfJl {
    border: 0;
    padding: 0;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: all 0.2s;
    transition-delay: 300ms;
    background-color: #96bdf7;
    color: #333132;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background: none;
    height: 24px;
    width: 24px;
    padding: 2px;
}
#_3TfJl:focus {
    outline: none;
    box-shadow: none;
}
#_3TfJl:active {
    transition: none;
    opacity: 0.5;
}
#_3TfJl._3ZwLv {
    background-color: gray;
}

#_6JtnT {
    flex-direction: column;
    transition: all 0.2s ease;
    height: 120px;
    width: 100%;
    justify-content: flex-start;
    padding: 10px;
    /* border: solid 1px; */
}

#_6JtnT._3nIZK {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

#_2FMhO {
    width: 100%;
}

._2NuIJ {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

._1K5Gw {
    padding: 0 5px 0 5px;
}

._33s4p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    /* font-family: Arial, Helvetica, sans-serif; */
}

#_3dASG {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    font-size: 12pt;
}

#_-iUpI {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transition: all 0.3s ease, opacity 0.2s ease;
    height: 320px;
}
#_-iUpI._1Yn0M {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

._3n9O3 {
    padding: 2px;
    font-size: 16px;
}

._2Mev0 {
    border: 0;
    padding: 0;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: all 0.2s;
    transition-delay: 300ms;
    background-color: #96bdf7;
    color: #333132;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin: 10px;
    font-size: 1.5em;
}
._2Mev0:focus {
    outline: none;
    box-shadow: none;
}
._2Mev0:active {
    transition: none;
    opacity: 0.5;
}

._30C7x {
    font-size: 0.5em;
    color: #333132;
}

._ftZ8R {
    display: flex;
    flex-direction: row;
}

#_1gnBl {
    border: 0;
    padding: 0;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: all 0.2s;
    transition-delay: 300ms;
    background-color: #96bdf7;
    color: #333132;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: lightgray;
    margin: 10px;
}
#_1gnBl:focus {
    outline: none;
    box-shadow: none;
}
#_1gnBl:active {
    transition: none;
    opacity: 0.5;
}
#_1gnBl._11LDZ {
    background-color: gray;
}

._EoCL2 {
    border: 0;
    padding: 0;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: all 0.2s;
    transition-delay: 300ms;
    background-color: #96bdf7;
    color: #333132;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: lightgray;
    margin: 10px;
    background-color: #ff6961;
}
._EoCL2:focus {
    outline: none;
    box-shadow: none;
}
._EoCL2:active {
    transition: none;
    opacity: 0.5;
}

._PaJuy {
    border: 0;
    padding: 0;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: all 0.2s;
    transition-delay: 300ms;
    background-color: #96bdf7;
    color: #333132;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: lightgray;
    margin: 10px;
    background-color: #15c73b;
}
._PaJuy:focus {
    outline: none;
    box-shadow: none;
}
._PaJuy:active {
    transition: none;
    opacity: 0.5;
}

._25gV2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#_1yYD- {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
#_1yYD-._1Yn0M {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

#_ovMXl {
    border: none;
    padding: none;
    font-size: 1em;
    border: 2px solid #333132;
    border-radius: 100px;
    width: 80%;
    padding: 5px 10px 5px 10px;
}
#_ovMXl:focus {
    outline: none;
}

._1-bn8 {
    border: 0;
    padding: 0;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: all 0.2s;
    transition-delay: 300ms;
    background-color: #96bdf7;
    color: #333132;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin: 10px;
}
._1-bn8:focus {
    outline: none;
    box-shadow: none;
}
._1-bn8:active {
    transition: none;
    opacity: 0.5;
}

._2iAE_ {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

._3GsXr {
    border: 0;
    padding: 0;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: all 0.2s;
    transition-delay: 300ms;
    background-color: #96bdf7;
    color: #333132;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    height: 40px;
    width: 40px;
    background: none;
}
._3GsXr:focus {
    outline: none;
    box-shadow: none;
}
._3GsXr:active {
    transition: none;
    opacity: 0.5;
}

._tfL15 {
    border: 0;
    padding: 0;
    background: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: all 0.2s;
    transition-delay: 300ms;
    background-color: #96bdf7;
    color: #333132;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    height: 80px;
    width: 80px;
    background: none;
}
._tfL15:focus {
    outline: none;
    box-shadow: none;
}
._tfL15:active {
    transition: none;
    opacity: 0.5;
}

._32AFz {
    border: none;
    padding: none;
    font-size: 1em;
}
._32AFz:focus {
    outline: none;
}

._2qSFk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    padding: 0 0 0 60px;
}

._2sye_ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 2px solid #333132;
    border-radius: 100px;
    padding: 0 0 0 20px;
}
